<nav class="navbar navbar-expand-lg navbar-light bg-primary">
	<a class="navbar-brand" href="{{ url_for('index') }}">LilQuote</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
	   aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				{% if session['name'] %}
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
				   aria-expanded="false">{{ session['name'] }}</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
					<a class="dropdown-item" href="{{ url_for('user_quotes', user_id=session['user_id']) }}">Your Quotes</a>
				</div>
				{% else %}
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
				   aria-expanded="false">My Account</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{{ url_for('login') }}">Login</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="{{ url_for('register') }}">Register</a>
				</div>
				{% endif %}
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0" method="GET" action="{{ url_for('search') }}">
<input class="form-control mr-sm-2" type="search" name="html_query" placeholder="Search username" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>